<!DOCTYPE html>
<html>
<head>
  <title>MyGallery</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= filepicker_js_include_tag %>
</body>
</html>
